DEBUG=
NODE_ENV=
RUN_MODE=
TZ=

# Application
APP_ENV_APPLICATION_NAME=
APP_ENV_APPLICATION_TIMEZONE=

APP_ENV_LOGGER_FOLDER_PATH=

APP_ENV_APPLICATION_EXPLORER_URL=

# Server
APP_ENV_SERVER_HOST=
APP_ENV_SERVER_PORT=
APP_ENV_SERVER_BASE_PATH=

# PostgreSQL
APP_ENV_POSTGRES_HOST=
APP_ENV_POSTGRES_PORT=
APP_ENV_POSTGRES_USERNAME=
APP_ENV_POSTGRES_PASSWORD=
APP_ENV_POSTGRES_DATABASE=
